[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyter = "*"
six = "*"
pandas = "*"
tox = "*"
persistent = "*"
btrees = "*"
bplustree = "*"
tqdm = "*"
pylint = "*"

[requires]
python_version = "3.6"
